<h1>Allow access to <b><%= host_from(me) %></b>?</h1>

<p>The application <b><%= client_id %></b> would like access to your website, <b><%= me %></b>.</p>
<p><b><%= client_id %></b> is requesting the following permissions:</p>

<ul class="scopes-list">
  <%= scope.map { |s| "<li>#{s}</li>" }.join %>
</ul>

<p>Use one of the services below to approve this request.</p>
